h1, h2, p{
  color: #002f35;
  text-align: center;

}

.alert-link {
  color: #ff6337;
  text-decoration: underline;
}

h3 {
  color: #002f35;
}
li {
  color: #002f35;
}

body {
  padding: 20px;
  font-family: 'Barlow', sans-serif;

}

iframe {
  padding-left: 20%;
}

.border {
  border: 35px solid;
}
